# Python
__pycache__/
*.pyc
*.pyo

# ROS2
build/
install/
log/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Данные (слишком большие)
deepscan_sonar_data/
*.xyz
*.pcd

# Модели (большие файлы)
*.obj
*.dae
*.glb
*.fbx

# Volumes Docker
postgres_data/

# Логи
*.log
