# Python
__pycache__/
*.pyc
*.pyo

# ROS2 build artefacts
deepscan_ws/build/
deepscan_ws/install/
deepscan_ws/log/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Данные (слишком большие)
deepscan_sonar_data/
*.xyz
*.pcd
*.png
*.glb

# Личные настройки
.bashrc
